.jumbotron {
  background-color: #4287f5;
  color: #FFFFFF; }

.card-hotel {
  flex: 0 1 200px;
  flex-wrap: wrap;
  padding: 5px 10px 5px 10px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #4287f5;
  margin-top: 10px;
  color: #FFFFFF; }

footer a {
  color: #FFFFFF; }
