@blue: #4287f5;
@white: #FFFFFF;
.margen(@top){
	margin-top: @top;
}

.jumbotron{
	background-color: @blue;
	color: @white;
}

.card-hotel {
	flex: 0 1 200px; 
	flex-wrap: wrap;
	padding: 5px 10px 5px 10px;
	.margen(10px);
}

.btn-reserva {
	width: 100%
}

footer	{
	padding: 10px 10px 0px 10px;
	background-color: @blue;
	.margen(10px);
	color: @white;
}
footer a {
	color: @white;
}